---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Bank Loan Applications"
  description="Tax Doctor can help you satisfy bank requirements for a business loan, including business plans, financial statements and cash flow projections."
  keywords="bank loan, business plan, financial statements, cash flow, loan application, johannesburg"
>
  <div class="section">
    <img class="image-section" alt="Bank Loans" src="/images/Services/taxloanapproved.jpg" />
    <h2>Bank Loan Applications</h2>
    <p>If you're looking to get a loan we can help you with satisfying bank requirements including:</p>
    <ul class="alt">
      <li>Business Plans</li>
      <li>Financial Statements</li>
      <li>Cash Flows</li>
    </ul>
    <p>We have over 15 years experience in this with many successful applications.</p>
  </div>
</Layout>
