---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Company Formation Services"
  description="Tax Doctor helps you register a new company through CIPC, register for tax, PAYE, VAT and more. Prices from R1,000."
  keywords="company formation, company registration, cipc, cipro, paye, vat, uif, johannesburg"
>
  <div class="section">
    <img class="image-section" alt="Company Formations" src="/images/Services/smallbusiness.jpg" />
    <h2>Company Formations</h2>
    <p>If you're setting up a new business we can help you through the whole process:</p>
    <ul class="alt">
      <li>Name reservation</li>
      <li>Company registration</li>
      <li>Tax registration e.g. PAYE, VAT, Company Tax</li>
      <li>Registering for Workmens Compensation and annual submission</li>
      <li>UIF registration and monthly processing</li>
      <li>Setup of the company in the relevant accounting package</li>
      <li>Training if required</li>
    </ul>
    <p>
      This includes registering your company through CIPC, CIPRO, UIF and other government agencies.
    </p>
    <p>Prices start from R1,000.</p>
  </div>
</Layout>
