---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="About us — Affordable accounting, bookkeeping, payroll and tax returns in Jhb area"
  description="Tax Doctor has been in existence for over 20 years with experience in many industries. We deal with clients from single person businesses to those with over 100 employees."
  keywords="about tax doctor, accountant, tax services, bookkeeping, bookkeeper, payroll, training, company registration, sars, cipro"
>
  <div class="section">
    <h2>About Us</h2>
    <p>
      Tax Doctor has been in existence for over {new Date().getFullYear() - 2002} years and we have experience in many
      industries including motor trade and servicing, manufacturing, construction, retail,
      health services, food and many more. We deal with clients that range from single person
      businesses to those with over 100 employees.
    </p>
    <p>
      The qualified staff at Tax Doctor have over 25 years experience in Accounting and
      Bookkeeping and we pride ourselves on building a strong personal relationship with our
      clients. We work with you according to your schedule and needs, both from our office
      and your premises.
    </p>
    <p>Our prices are very competitive.</p>
  </div>
</Layout>
