---
import Layout from '../layouts/Layout.astro';
import PricesTable from '../components/PricesTable.astro';
---

<Layout
  title="Affordable accounting, bookkeeping, payroll and tax returns"
  description="Tax Doctor offers an affordable service for both small businesses and individuals in Johannesburg. Over 25 years experience in accounting, bookkeeping, payroll and tax."
  keywords="tax, bookkeeping, bookkeeper, payroll, paye, irp5, irp6, it12, it14, emp201, emp501, vat201, cashflow, financial statements, company formations, cipc, sars, tax returns, accounting, johannesburg"
>
  <div class="section">
    <img class="image-section" alt="Tax Doctor" src="/images/Home/taxdoctor.jpg" />
    <h2>Welcome to Tax Doctor</h2>
    <p>
      Offering an affordable service for both small businesses and individuals.
      We like to build a relationship with our clients so we can offer a personalised service
      for you and your business. We have over 25 years experience in many industries including
      motor trade and servicing, manufacturing, construction, retail, health services, food and many more.
    </p>
  </div>

  <div class="sections type-4">
    <div class="section pos-1">
      <img class="image-section" alt="Tax" src="/images/Home/tax.jpg" />
      <h2>Personal and Business Tax</h2>
      <dl>
        <dt>Let us take care of your tax so you have more time for business and pleasure.</dt>
        <br />
        Tax Returns and Payments include:
        <ul class="alt">
          <b>Individual:</b>
          <li>IT12, IRP5, IRP6</li>
          <b>Business:</b>
          <li>IT14, IRP6, VAT201, EMP201, EMP501</li>
        </ul>
        Our services include resolving of tax audit queries and penalties.
      </dl>
    </div>
    <div class="section pos-2">
      <img class="image-section" alt="Training" src="/images/Home/taxtraining.jpg" />
      <h2>Training</h2>
      Help bring down your costs by investing in training your employees in the following:
      <ul class="alt">
        <b>Accounting packages:</b>
        <li>Quickbooks</li>
        <li>Pastel Payroll</li>
        <b>Other:</b>
        <li>Excel</li>
        <li>Bookkeeping training</li>
      </ul>
    </div>
    <div class="section pos-3">
      <img class="image-section" alt="Small Business" src="/images/Home/taxcalculator.jpg" />
      <h2>Small Business Services</h2>
      <ul class="alt">
        <b>Accounting / Bookkeeping:</b>
        <li>Financial Statements — Balance sheet, income statement, etc.</li>
        <li>Data capture into accounting package</li>
        <li>Sundry Reports</li>
        <li>Cashflows</li>
        <li>Creditors/Suppliers reconciliations</li>
        <li>Debtors/Customers reconciliations and/or credit control</li>
        <b>Other services:</b>
        <li>Business plans for loans</li>
        <li>CIPC — Company formations and annual returns</li>
      </ul>
    </div>
  </div>

  <PricesTable />
</Layout>
