@{
    ViewBag.Title = "Accounting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <h2>Accounting</h2>
    We offer all accounting services including the following:
        <div class="minisection">
            @*<div class="minisection pos-1">*@
            <b>Financial Statements:</b>
            <ul class="alt">
                <li>Directors and Accounting Officer / Auditor reports</li>
                <li>Balance sheet</li>
                <li>Income statement (Profit and Loss)</li>
                <li>Fixed assets schedule</li>
                <li>Cashflows</li>
                <li>Directors and accounting officer reports</li>
                <li>Notes to the balance sheet and income statement</li>
            </ul>

            There are many reasons why people need financial statements. For example:
    <ul class="alt">
        <li>Submission to SARS (IT14)</li>
        <li>Management reporting on profit and loss, customers(debtors)/suppliers(creditors), etc.</li>
        <li>Bank loans</li>
    </ul>
            We can provide statements in Excel and/or Quickbooks
                
            @*</div>*@
        </div>
    <div class="minisection">
        <b>ACCOUNTING</b>
        <br />
        <br />
        
        
This info is summarised and goes to managment to make informed business decisions on direction of business
    </div>
    <div class="minisection">
        <ul class="alt">
            <li>Accounting Officer Services</li>
            <li>Company Tax Services</li>
            <li>Annual Financial Statements</li>
            <li>CC to Company Conversions</li>
        </ul>
        <ul class="alt">
            <li>Bookkeeping Services</li>
            <li>Payroll Services</li>
            <li>IRP5 and IT3 Certificates</li>
            <li>Employer EMP Reconciliation's</li>
            <li>SARS e-Filing Services</li>
        </ul>
        Personal Tax Services
        <ul class="alt">
            <li>Business Consulting</li>
            <li>Private Company Formations</li>
            <li>BEE Certificates</li>
            <li>Management Statements</li>
            <li>Tax Consultation Services</li>
            <li>Close Corporation Amendments</li>
            <li>CC De-registration</li>
            <li>CC Reinstatements</li>
            <li>Annual Return Submissions</li>
            <li>Tax Clearance Certificates</li>
            <li>General Business Advice</li>
            <li>Cash Flow Projections</li>
            <li>Assistance with Audits</li>
            <li>Company Liquidations</li>
            <li>Personal Liability Companies</li>
            <li>WCA Registrations</li>
            <li>UIF Services</li>
        </ul>
    </div>
</div>
