@{
    ViewBag.Title = "Company Formations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <h2>Company Formations</h2>
    If you're setting up a new business we can help you through the whole process of 
        <ul class="alt">
            <li>Name reservation</li>
            <li>Company registration</li>
            <li>Tax registration eg. PAYE, VAT, Company Tax</li>
            <li>Registering for worksmans compensation and annual submission</li>
            <li>UIF registration and monthly processing</li>
            <li>Setup of the company in the relevant accounting package</li>
            <li>Training if required</li>
        </ul>
    Prices start from R1000.
</div>
