@{
    ViewBag.Title = "Our Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payroll PAYE</h1>
<br />
We will manage the full beginning to end payroll process which includes:
<ul class="alt">
    <li class="justinstyleItem">Provision of IRP5/IT3(a) for each employee</li>
    <li>Payment of salaries</li>
    <li>Submission of EMP201</li>
    <li>Submission of UIF</li>
</ul>
<br />
All this is electronically captured into the relevant accounting software. 