@{
    ViewBag.Title = "Excel";
}
<div class="section">
    <h2>Excel</h2>
    <img class="image-package" alt="Excel" src="@Url.Content("~/Content/images/Training/excel.jpg")">
    <div>
        If you've never used Excel before we can help you 
        get up to speed quickly to produce your own tailor 
        made reports.
    </div>
</div>
