@{
    ViewBag.Title = "Packages";
}

<h1>Packages</h1>
<br />
<div class="sections type-4">
    <div class="section pos-1">
        <h2>
            QuickBooks
        </h2>
        <dl>
            <dt>Install and Train </dt>
        </dl>
    </div>
    <div class="section pos-2">
        <h2>
            Pastel
        </h2>
        <dl>
            <dt>Install and Train</dt>
        </dl>
    </div>
    <div class="section pos-3">
        <h2>
            Excel
        </h2>
        <dl>
            <dt>Install and Train</dt>
        </dl>
    </div>
</div>
