@{
    ViewBag.Title = "QuickBooks";
}
<div class="section">
    <h2>QuickBooks</h2>
    <img class="image-package" alt="Quickbooks" src="@Url.Content("~/Content/images/Training/quickbooks.jpg")">
    <div>
        The No.1 rated financial software for accounts. 
        We have over 15 years experience in Quickbooks
        and can help familiarise you with its features.
        <br />
        <br />
        Get trained in all aspects of Quickbooks to save
        you time and help keep your business organised. 
    </div>
</div>
