@{
    ViewBag.Title = "About Tax Doctor";
}

<div class="section">
    <h2>About Us</h2>
    <p>
        Tax Doctor has been in existence for over @(System.DateTime.Now.Year - 2002) years and we have experience in many industries including 
     including motor trade and servicing, manufacturing, construction, retail, health services, food and many more.
     We deal with clients that range from single person businesses to those with over 100 employees.
        <br />
        <br />
        The qualified staff at Tax Doctor have over 25 years experince in Accounting and Bookkeping and we pride ourselves on
     building a strong personal relationship with our clients. We work with you according to your schedule and needs, both 
        from our office and your premises.
        <br />
        <br />
        Our prices are very competive.
    </p>
</div>
