@{
    ViewBag.Title = "Accounting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounting</h2>
        <dl>
            <dt>Accounting</dt>

        </dl>

We offer all accounting services including the following:

Reporting: 
Trial Balance
Customer and Supplier Age Analysis
Sales Reports
Fixed Assets
Stock

Financial Statement:
Balance Sheet
Income and Expense Statement
Fixed Assets 
Cash Flow

These Financial Statements (F.S.) are presented to : Management, Receiver of Revenue, Banks

Bookkeeping:
Data Capture into Cash Book
Bank Reconciliation

Book entries via Journal Entries eg. Depreciation

This is the input into the purchase journal of suppliers invoices

From the purchase journal and cash book (which records payments to suppliers ( creditor , accounts payable (AP))
summarised info is fed to the creditors ledger to determine who is owed how much and aged in an age analysis
At month end creditors reconciliation between creditors statemets to us and our creditors ledger is done and payment made to suppliers( creditors , AP)

 

Input of information of goods and services supplied to customers

This is the input into the sales Journal of invoices to customers

Information is summaried in the sales journal and fed to a customers ledger (debtors ledger )

Information is also fed from the cash bood to the customers ledger of receipts from customers (Accounts Receivable (A.R.) also known as debtors)

From the debtors ledger one is able to ascertain how much is owed to the busines and and age analysis is obtained stating how old the debts are eg 30day ; 60 days ;90 days etc.

Statements are sent out at month end to customers (debtors AR) requesting payment

 

ACCOUNTING

deals with producing Financial Statements (Balance Sheet , Income Statement (also known as the Profit and Loss)

Fixed Assets and cash flows inter alia

These come from the bookkeeping info eg

Trial Balance - which is a summary of the general ledger accounts eg income,expenses,assets and liabilities

 

These finacial statements can be more detailed eg for management (Management accounts ) where accounts are broken down eg instead of Motor Vehicle expense summary, state MV repairs ; MV fuel ; MV licences; MV tyers

 

Financial Statements for Receiver of Revenue and bank loans are more summarised eg Motor vehicle summary total

 

Accounting also involves analysing info from bookkeping such as sales and purchase analysis ,debtors and creditors age analysis 

 

This info is summarised and goes to managment to make informed business decisions on direction of business

 

I tried to be as concise as possible .If you need more info let me know

            
Accounting Officer Services
Company Tax Services
Annual Financial Statements
CC to Company Conversions

Bookkeeping Services
Payroll Services
IRP5 and IT3 Certificates
Employer EMP Reconciliation's
SARS e-Filing Services

Personal Tax Services

Business Consulting
Private Company Formations
BEE Certificates
Management Statements
Tax Consultation Services
Close Corporation Amendments
CC De-registration 
CC Reinstatements
Annual Return Submissions
Tax Clearance Certificates
General Business Advice
Cash Flow Projections
Assistance with Audits
Company Liquidations
Personal Liability Companies
WCA Registrations 
UIF Services