@{
    ViewBag.Title = "Accounting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <h2>Accounting</h2>
    We offer a full accounting service which can be tailored to your needs 
    and include the following:
    <ul class="alt">
        <li>Annual financial statements</li>
        <li>Accounting Officer services</li>
        <li>Tax services</li>
        <li>Company annual returns to CIPC</li>
        <li>CC to Pty conversions</li>
        <li>New company formations</li>
        <li>Meeting all statutory requirements</li>
        <li>Submisison of annual workmans compensation returns</li>
        <li>Payroll</li>
        <li>WCA registrations and annual submissions</li>
        <li>UIF Services</li>
        <li>Audits eg. SARS and company</li>
        <li>General Business Advice</li>
    </ul>
    <div class="minisection">
        @*<div class="minisection pos-1">*@
        <b>Financial Statements</b> include the following:
        <ul class="alt">
            <li>Directors and Accounting Officer / Auditor reports</li>
            <li>Balance sheet</li>
            <li>Income statement (Profit and Loss)</li>
            <li>Fixed assets schedule</li>
            <li>Cashflow projections</li>
            <li>Directors and accounting officer reports</li>
            <li>Notes to the balance sheet and income statement</li>
        </ul>

        There are many reasons why people need financial statements. For example:
    <ul class="alt">
        <li>Submission to SARS (IT14)</li>
        <li>Management reporting on profit and loss, customers/suppliers age analysis, reconciliations, etc.</li>
        <li>Bank loans</li>
    </ul>
        We can provide statements in Excel and/or Quickbooks
    </div>

    <b>CIPC Services</b>
    <br />
    <ul class="alt">
        <li>New company registrations, amendments and annual submissions</li>
        <li>Close Corporation amendments and annual submissions</li>
        <li>CC De-registration</li>
        <li>CC Reinstatements</li>
    </ul>
</div>
