@{
    ViewBag.Title = "Bank Loan Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <img class="image-section" alt="" src="@Url.Content("~/Content/images/Services/taxloanapproved.jpg")">
    <h2>Bank Loan Applications</h2>
    If youre looking to get a loan we can help you with satisfying bank requirements including:
    <ul class="alt">
        <li>Business Plans</li>
        <li>Financial Statements</li>
        <li>Cash Flows</li>
    </ul>
    We have over 15 years experience in this with many successful applications.
</div>
