@{
    ViewBag.Title = "BankLoanApplications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank Loan Applications</h2>
        <dl>
            <dt>Company Formations</dt>

        </dl>