@{
    ViewBag.Title = "Financial Statements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <h2>Financial Statements</h2>
    They comprise of:
    <ul class="alt">
        <li>Directors and Accounting Officer / Auditor reports</li>
        <li>Balance sheet</li>
        <li>Income statement</li>
        <li>Fixed assets schedule</li>
        <li>Cashflows</li>
        <li>Notes to the balance sheet and income statement</li>
    </ul>
    
    Theres many reasons why people need financial statements. For example:
    <ul class="alt">
        <li>Submission to SARS (IT14)</li>
        <li>Management reporting on profit and loss, customers(debtors)/suppliers(creditors), etc.</li>
        <li>Bank loans</li>
    </ul>
    We can provide statements in Excel and/or Quickbooks
</div>
