@{
    ViewBag.Title = "OurServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Services</h1>
<br />
<div class="section">
    <h2>
        Tax Doctor news
        @ViewBag.Message
    </h2>
</div>