@{
    ViewBag.Title = "Payroll PAYE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <h2>Payroll</h2>
    We offer a comprehensive payroll service which includes:
        <img class="image-section" alt="" src="@Url.Content("~/Content/images/Services/taxpayroll.jpg")">
    <ul class="alt">
        <li>Recording of employee details</li>
        <li>Payment of salaries</li>
        <li>Generation of payslips</li>
        <li>Submission to SARS of EMP201 incl. UIF and SDL</li>
        <li>Submission to SARS of Annual/Bi-Annual EMP501 reconciliations</li>
        <li>Provision of IRP5/IT3(a) for each employee</li>
        <li>Customised reports eg. summary reports of employees income, deductions and net amounts to be paid.</li>
    </ul>
    <br />
    All this is electronically captured into the relevant accounting software.
</div>
