@{
    ViewBag.Title = "TaxServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <img class="image-section" alt="" src="@Url.Content("~/Content/images/Services/taxtax.jpg")">
    <h2>Tax Services</h2>
    <b>Individuals</b> are required to submit annual and in some cases bi-annual tax returns and can include the following:
    <ul class="alt">
        <li>IT12 - Annual submission of income and expenses and/or assets or liabilities and related documentation.</li>
        <li>IRP5</li>
        <li>IRP6</li>
    </ul>
    <b>Businesses</b> are required to submit bi-monthly to annual tax returns and include the following:
    <li><b>SARS eFiling Services</b></li>
    <ul class="alt">
        <li>IT14 - Annual submission of company details (incl. CK, VAT, 
        PAYE numbers, Tax practitioner details, Public officer details, 
        income and expenses, assets and liabilities, etc.) to SARS </li>
        <li>VAT201 - Monthly, bi-monthly returns</li>
        <li>VAT Audits</li>
        <li>EMP201 - Monthly, PAYE, SDL, UIF returns and payments</li>
        <li>IRP6</li>
        <li>Tax Clearance Certificates</li>
    </ul>
    <li><b>SARS e@syFile Services</b></li>
    <ul class="alt">
        <li>IRP5</li>
        <li>EMP501 reconciliation</li>
    </ul>
</div>
