@{
    ViewBag.Title = "TaxServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tax Services</h2>
        <dl>
            <dt>Company Formations</dt>

        </dl>
            Tax Returns include:
            <ul class="alt">
                <b>Individual:</b>
                <li>IT12 - Annual submission of income and expenses and/or assets or liabilities and related documentation.</li>
                <li>IRP5 -  (p/a)</li>
                <li>IT14 - Business (p/a)</li>
            </ul>