@{
    ViewBag.Title = "Accounting";
}
<div class="section">
    <img class="image-section" alt="Accounting" src="@Url.Content("~/Content/images/Training/taxtraining.jpg")">
    <h2>Accounting</h2>
    Quickly get up to speed on basic bookkeeping which includes 
data capture into journals and ledgers ie. sales, purchase, 
and general journals and debtors, creditors and general ledgers 
as well as cashbook and bank reconciliations. Debtors, creditors, 
invoices and statements will be covered.
    <br />
    <br />
    The extraction of trial balance from general ledger leading to financial
statements and the their interpretation.
    <br />
    <br />
    In addition business plans, cashflow statements and credit control 
will be covered.
    <br />
    <br />
    Training will generally be part time over 3 months though we can also 
put together a more tailored plan that suits you. 
</div>
