@{
    ViewBag.Title = "Pastel Payroll";
}
<div class="section">
    <h2>Pastel Payrol</h2>
    <img class="image-package" alt="Pastel" src="@Url.Content("~/Content/images/Training/pastel.jpg")">
    <div>
        Pastel Payroll, SA's Leading developer of Payroll 
        solutions for all business sizes.
        <br />
        <br />
        We will teach you how to setup a company from scratch
        and enter new employees. We will also show you how to
        enter salary details and print payslips as well as
        generate reports for tax as well as management information.
        We will show you how to produce IRP5's and do EMP501, 
        EMP201 as well as year end procedures and reports.
    </div>
</div>
