@{
    ViewBag.Title = "Training in accounting, tax, Excel, Quickbooks and Pastel Payroll";
}
<div class="section">
    <img class="image-section" alt="Accounting Training" src="@Url.Content("~/Content/images/Training/taxtraining.jpg")">
    <h2>Accounting</h2>
    Quickly get up to speed on basic bookkeeping which includes 
data capture into journals and ledgers ie. sales, purchase, 
and general journals and debtors, creditors and general ledgers 
as well as cashbook and bank reconciliations. Debtors, creditors, 
invoices and statements will be covered.
    <br />
    <br />
    The extraction of trial balance from general ledger leading to financial
statements and the their interpretation.
    <br />
    <br />
    In addition business plans, cashflow statements and credit control 
will be covered.
    <br />
    <br />
    Training will generally be part time over 3 months though we can also 
put together a more tailored plan that suits you. 
</div>
<div class="section">
    <h2>Pastel Payrol</h2>
    <img class="image-package" alt="Pastel" src="@Url.Content("~/Content/images/Training/pastel.jpg")">
    <div>
        Pastel Payroll, SA's Leading developer of Payroll 
        solutions for all business sizes.
        <br />
        <br />
        We will teach you how to setup a company from scratch
        and enter new employees. We will also show you how to
        enter salary details and print payslips as well as
        generate reports for tax as well as management information.
        We will show you how to produce IRP5's and do EMP501, 
        EMP201 as well as year end procedures and reports.
    </div>
</div>
<div class="section">
    <h2>QuickBooks</h2>
    <img class="image-package" alt="Quickbooks" src="@Url.Content("~/Content/images/Training/quickbooks.jpg")">
    <div>
        The No.1 rated financial software for accounts. 
        We have over 15 years experience in Quickbooks
        and can help familiarise you with its features.
        <br />
        <br />
        Get trained in all aspects of Quickbooks to save
        you time and help keep your business organised. 
    </div>
</div>
<div class="section">
    <h2>Excel</h2>
    <img class="image-package" alt="Excel" src="@Url.Content("~/Content/images/Training/excel.jpg")">
    <div>
        If you've never used Excel before we can help you 
        get up to speed quickly to produce your own tailor 
        made reports.
    </div>
</div>