---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Training in accounting, tax, Excel, Quickbooks and Pastel Payroll"
  description="Tax Doctor offers training in accounting, bookkeeping, Quickbooks, Pastel Payroll and Excel in Johannesburg."
  keywords="accounting training, quickbooks training, pastel payroll training, excel training, bookkeeping training, johannesburg"
>
  <div class="section">
    <img class="image-section" alt="Accounting Training" src="/images/Training/taxtraining.jpg" />
    <h2>Accounting</h2>
    <p>
      Quickly get up to speed on basic bookkeeping which includes data capture into journals
      and ledgers — sales, purchase, and general journals and debtors, creditors and general
      ledgers — as well as cashbook and bank reconciliations. Debtors, creditors, invoices
      and statements will be covered.
    </p>
    <p>
      The extraction of trial balance from general ledger leading to financial statements
      and their interpretation.
    </p>
    <p>
      In addition, business plans, cashflow statements and credit control will be covered.
    </p>
    <p>
      Training will generally be part time over 3 months, though we can also put together
      a more tailored plan that suits you.
    </p>
  </div>

  <div class="section">
    <h2>Pastel Payroll</h2>
    <img class="image-package" alt="Pastel" src="/images/Training/pastel.jpg" />
    <p>
      Pastel Payroll — SA's leading developer of Payroll solutions for all business sizes.
    </p>
    <p>
      We will teach you how to setup a company from scratch and enter new employees. We will
      also show you how to enter salary details and print payslips as well as generate reports
      for tax and management information. We will show you how to produce IRP5s and do EMP501,
      EMP201 as well as year-end procedures and reports.
    </p>
  </div>

  <div class="section">
    <h2>QuickBooks</h2>
    <img class="image-package" alt="Quickbooks" src="/images/Training/quickbooks.jpg" />
    <p>
      The No.1 rated financial software for accounts. We have over 15 years experience in
      Quickbooks and can help familiarise you with its features.
    </p>
    <p>
      Get trained in all aspects of Quickbooks to save you time and help keep your business organised.
    </p>
  </div>

  <div class="section">
    <h2>Excel</h2>
    <img class="image-package" alt="Excel" src="/images/Training/excel.jpg" />
    <p>
      If you've never used Excel before we can help you get up to speed quickly to produce
      your own tailor-made reports.
    </p>
  </div>
</Layout>
