---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Quickbooks Training"
  description="Quickbooks training in Johannesburg from experts with over 15 years experience. Get trained in all aspects of Quickbooks."
  keywords="quickbooks training, quickbooks, accounting software, financial software, johannesburg"
>
  <div class="section">
    <h2>QuickBooks Training</h2>
    <img class="image-package" alt="Quickbooks" src="/images/Training/quickbooks.jpg" />
    <p>
      The No.1 rated financial software for accounts. We have over 15 years experience in
      Quickbooks and can help familiarise you with its features.
    </p>
    <p>
      Get trained in all aspects of Quickbooks to save you time and help keep your business organised.
    </p>
  </div>
</Layout>
