@{
    ViewBag.Title = "Home Page";
}
@*@section header{

}*@
<div class="section">
    <h2>@ViewBag.Message</h2>
    <p>
        Offering an affordable service for both small businesses and individuals. We like to build a relationship with you the client so we can offer a personalised service for you and your business. We have over 25 years experience in many industries. 
    </p>
</div>
<div class="section">
    <h2>
        Tax Doctor news
        @ViewBag.Message
    </h2>
</div>
<div class="sections type-4">
    <div class="section pos-1">
        <h2>
            Personal Income Tax
        </h2>
        <dl>
            <dt>Submit return </dt>
        </dl>
    </div>
    <div class="section pos-2">
        <h2>
            Small Business Services
        </h2>
        <dl>
            <dt>Company Formations</dt>

        </dl>
    </div>
</div>
