@{
    ViewBag.Title = "Home Page";
}
@*@section header{

}*@
<div>
    <div class="section">
        <h2>@ViewBag.Message</h2>
        <p>
            Offering an affordable service for both small businesses and individuals. We like to build a relationship with our clients so we can offer a personalised service for you and your business. We have over 25 years experience in many industries including motor trade and servicing, manufacturing, construction, retail, health services, food and many more.
        </p>
    </div>
    @*<div class="section">
    <h2>Tax Doctor news
        @ViewBag.Message
    </h2>
</div>*@
    <div class="sections type-4">
        <div class="section pos-1">
            <h2>Personal and Business Tax
            </h2>
            <dl>
                <dt>Let us take care of your tax so you have more time for business and pleasure.</dt>
                <br />
                Tax Returns and Payments include:
            <ul class="alt">
                <b>Individual:</b>
                <li>IT12, IRP5, IRP6</li>
                <b>Business:</b>
                <li>IT14, IRP6, VAT201, EMP201, EMP501</li>
            </ul>
                Our services include resolving of tax audit queries/penalties.
            </dl>
        </div>
        <div class="section pos-2">
            <h2>Small Business Services
            </h2>
            <dl>
                <ul class="alt">
                    <b>Accounting/Bookkeeping:</b>
                    <li>Financial Statements - Balance sheet, income statement, etc.</li>
                    <li>Data capture into accounting package</li>
                    <li>Sundry Reports</li>
                    <li>Cashflows</li>
                    <li>Creditors/Suppliers reconciliations</li>
                    <li>Debtors/Customers reconciliations and/or credit control</li>
                    <b>Other services:</b>
                    <li>Business plans for loans</li>
                    <li>CIPC - Company formations and annual returns</li>
                </ul>
            </dl>
        </div>
        <div class="section pos-3">
            <h2>Training</h2>
            Help bring down your costs by investing in training your employees in the following:
        @*<div>
            <a href="http://twitter.com/taxdoctorsa">twitter
                    <img alt="Twitter" src="//www.google.com/apps/images/core/icons/twitter.png"></a>
            </div>*@
            <ul class="alt">
                <b>Accounting packages:</b>
                <li>Quickbooks</li>
                <li>Pastel Payroll</li>
                <b>Other:</b>
                <li>Excel</li>
                <li>Bookkeeping training</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h2>Prices
        </h2>
        We offer competetive pricing for our services. Please contactus us for a more tailored price.
    </div>
</div>
