
/*#pricing .comparison-chart {
    clear: both;
    position: relative;
    width: 978px;
    margin: 0;
    z-index: 2;
}

#pricing td.feature {
    text-align: left;
    width: 310px;
}

[dir="rtl"] #pricing td.feature {
    text-align: right;
}*/




